@charset "utf-8";
/* CSS Document */
.banner{background: url(../images/rlzy-banner.jpg) no-repeat center top;}

.nav .container>ul>li:nth-child(10)>a{background:#e70012;}
.main{width:1207px; background:#ffffff; padding:25px 0 0 56px; margin:0 auto;}
.main .list,.content{float:left;}
.main .list{width:141px; margin-right:29px;}
.main .list h1{height:46px; line-height:46px; font-size:18px; font-family:微软雅黑; color:#2b2b2b; text-align:center;}
.main .list ul li{margin-bottom:2px; width:141px;}
.main .list ul li a{display:block; height:44px; line-height:44px; font-size:14px; font-family:微软雅黑; font-weight:bold; text-align:center; color:#ffffe8; background:#5f5f5f;}
.main .list ul li:nth-child(4) a{background:#002d71;}
.main .list ul li a:hover{background:#002d71;}
.main .content{width:999px; padding:4px 0 24px 0;}
.main .content .c-top{padding-left:753px; height:48px; line-height:48px; font-size:12px; font-family:微软雅黑; color:#777777;}
.main .content .c-top a{font-size:12px; font-family:微软雅黑; color:#777777;}
.main .content .c-top a:hover{text-decoration:underline;}
.main .content ul{width:975px; height:402px; padding:4px 10px 0 10px; border:2px solid #e2e2e2;}
.main .content ul h2{height:73px; line-height:73px; font-size:22px; font-family:微软雅黑; font-weight:100; color:#3a2524; text-align:center;}
.main .content ul li{height:43px; border-bottom:1px solid #e4e4e4; margin-bottom:2px; padding-left:48px; position:relative;}
.main .content ul li div{width:10px; height:10px; border-radius:10px; border:1px solid #5db3f0; position:absolute; left:19px; top:15px; box-shadow:0 0 1px 0 #ceffff;}
.main .content ul li a{display:block; width:817px; height:43px; line-height:43px; font-size:16px; font-family:微软雅黑; color:#3a3a38; float:left;}
.main .content ul li a:hover{text-decoration:underline;}
.main .content ul li span{display:block; height:43px; line-height:43px; font-size:16px; color:#afaab1;}

