.banner{background:url(../images/tzzgx-banner.jpg) no-repeat center top;;}
.nav .container>ul>li:nth-child(6)>a{background:#e70012;}
.main{width: 1169px; margin: 0 auto; padding-top: 29px;}
.main .left{width: 141px; float: left;}
.main .left h2{ height: 42px; line-height: 42px; font-size: 18px; color: #2b2b2b; font-family: "微软雅黑";
 text-align:center;}
.main .left ul li a{text-align: center; display: block; height: 44px; line-height: 44px; background: #5f5f5f;
 font-size: 14px; color: #fff; margin-bottom: 2px; font-family: "微软雅黑";}
 .main .left ul li:nth-child(2) a{ background: #002d71;}
.main .left ul li a:hover{background: #002d71; color: #fff;}
.main .right{float: right; width: 999px; padding-bottom: 24px;}
.main .right .subnav{ padding-left: 731px;}
.main .right .subnav p,.main .right .subnav a,.main .right .subnav span{float: left; height: 48px; line-height: 48px;
font-size:14px; color: #777777; font-family: "微软雅黑";}
.main .right .subnav span{ margin: 0 5px;}
.main .right .subnav a:hover{text-decoration:underline;}
.main .right .bottom{border:2px solid #e2e2e2; padding: 0 11px 760px 11px; position: relative; 
	background: url("../images/4feabff7-85cf-42c0-bc52-a0425f654cfb.jpg") no-repeat 200px 93px;}
.main .right .bottom h2{font-family: "微软雅黑"; height: 79px; line-height: 79px; text-align: center; font-weight:inherit;}
.main .right .bottom div{position: absolute; width: 140px; height: 214px; top: 580px;}
.main .right .bottom div:nth-child(2){left:428px; top:110px;}
.main .right .bottom div:nth-child(3){left:298px; top:346px;}
.main .right .bottom div:nth-child(4){left:581px; top:343px;}
.main .right .bottom div:nth-child(5),.main .right .bottom div:nth-child(6),.main .right .bottom div:nth-child(7),.main .right .bottom div:nth-child(8){height: 234px;}
.main .right .bottom div:nth-child(5){left:213px; top:;}
.main .right .bottom div:nth-child(6){left:366px; top:;}
.main .right .bottom div:nth-child(7){left:520px; top:;}
.main .right .bottom div:nth-child(8){left:668px; top:;}
.main .right .bottom div a{display: block; height: 214px;}
.main .right .bottom div:nth-child(5) a,.main .right .bottom div:nth-child(6) a,.main .right .bottom div:nth-child(7) a,.main .right .bottom div:nth-child(8) a{height: 234px;}
