.banner{background: url(../images/tzzgx-banner.jpg) no-repeat center top;}
.nav .container>ul>li:nth-child(6)>a{background:#e70012;}
.main{width: 1169px; margin: 0 auto; padding-top: 29px;}
.main .left{width: 141px; float: left;}
.main .left h2{ height: 42px; line-height: 42px; font-size: 18px; color: #2b2b2b; font-family: "微软雅黑";
 text-align:center;}
.main .left ul li a{text-align: center; display: block; height: 44px; line-height: 44px; background: #5f5f5f;
 font-size: 14px; color: #fff; margin-bottom: 2px; font-family: "微软雅黑";}
 .main .left ul li:nth-child(6) a{ background: #002d71;}
.main .left ul li a:hover{background: #002d71; color: #fff;}
.main .left ul li ul{padding-left: 6px;}
.main .left ul li ul li a{height: 34px; line-height: 34px; font-size: 12px; background:#002d71;
 font-family: "\5FAE\8F6F\96C5\9ED1","\5B8B\4F53";}
.main .right{float: right; width: 999px; padding-bottom: 24px;}
.main .right .subnav{ padding-left: 614px;}
.main .right .subnav p,.main .right .subnav a,.main .right .subnav span{float: left; height: 48px; line-height: 48px;
font-size:14px; color: #777777; font-family: "微软雅黑";}
.main .right .subnav span{ margin: 0 5px;}
.main .right .subnav a:hover{text-decoration:underline;}
.main .right .bottom{border:2px solid #e2e2e2; padding: 0 11px 285px 11px;}
.main .right .bottom h2{font-family: "微软雅黑"; height: 72px; line-height: 72px; text-align: center;
font-weight:inherit; padding-top: 5px;}
.main .right .bottom ul{padding: 18px 10px 0px 10px;}
.main .right .bottom ul li{height: 46px; line-height: 46px; padding-left: 49px; border-bottom:1px solid #e5e4e2;
background:url(../images/xwzx-title-bg.jpg) no-repeat 19px center;}
.main .right .bottom ul li span{height: 46px; line-height: 46px; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53"; color: #a9a9a9;}
.main .right .bottom ul li a{height: 46px; line-height: 46px; font-size: 16px;
font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53"; color:#393939; width: 792px; display: inline-block;} 
.main .right .bottom ul li a:hover{text-decoration: underline; }
