@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
.clearfix:after{display:block; height:0; line-height:0; content:'.', visibility:hidden; font-size:0; clear:both;}
ul,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,label{display:block;}
ul{list-style:none;}
a{text-decoration:none;}
.nav .container>ul>li:nth-child(2)>a{background:#e70012;}
.banner{width:100%; background:url(../images/gaikuang_banner.jpg) no-repeat center bottom; height:250px;}
.main{width:1207px; background:#ffffff; padding:25px 0 0 56px; margin:0 auto;}
.main .list,.content{float:left;}
.main .list{width:141px; margin-right:29px;}
.main .list h1{height:46px; line-height:46px; font-size:18px; font-family:微软雅黑; color:#2b2b2b; text-align:center;}
.main .list ul li{margin-bottom:2px; width:141px;}
.main .list ul li a{display:block; height:44px; line-height:44px; font-size:14px; font-family:微软雅黑; font-weight:bold; text-align:center; color:#ffffe8; background:#5f5f5f;}
.main .list ul li:nth-child(7) a{background:#002d71;}
.main .list ul li a:hover{background:#002d71;}
.main .content{width:999px; padding:4px 0 24px 0;}
.main .content .c-top{padding-left:753px; height:48px; line-height:48px; font-size:12px; font-family:微软雅黑; color:#777777;}
.main .content .c-top a{font-size:12px; font-family:微软雅黑; color:#777777;}
.main .content .c-top a:hover{text-decoration:underline;}
.main .content .c-bottom{width:975px; height:2293px; padding:4px 10px 0 10px; border:2px solid #e2e2e2; position:relative;}
.main .content .c-bottom h2{height:73px; line-height:73px; text-align:center; font-size:22px; font-family:微软雅黑; font-weight:100; color:#3a2524;}
.main .content .c-bottom .image{padding-left:247px;}
.main .content .c-bottom .image p{width:480px; height:30px; line-height:30px; font-size:12px; font-family:微软雅黑; color:#373737; text-align:center; margin-bottom:17px; font-weight:bold;}

