@charset "utf-8";
/* CSS Document */
.nav{width:1263px; margin:0 auto;}
.main{width:1263px; margin:0 auto;}
.main .main-left{width:199px; float:left; margin-left:27px; text-align:center;}
.main .main-left h3{margin-top:25px; height:46px; line-height:46px; font-size:18px; color:#2b2b2b;}
.main .main-left ul li{width:141px; height:44px; line-height:44px; font-size:12px; background:#5f5f5f; margin-left:29px; margin-bottom:2px;}
.main .main-left ul li a{color:#fff; display:block;}
.main .main-left ul li a:hover{ background:#002d71;}
.main .main-left ul li:nth-child(1){background:#002d71;}
.main .main-right{width:999px; float:left; margin-right:38px;}
.main .main-right>p{text-align:right; height:48px; line-height:48px; margin-top:25px; font-size:12px; color:#777777;}
.main .main-right>p a{color:#777777;}
.main .main-right>p a:hover{color:#777777;}
.main .main-right>p span{margin-left:5px; margin-right:5px;}
.main .main-right div{border:1px solid #e2e2e2; padding:5px 11px 125px 11px;}
.main .main-right div p{ text-indent:2em;}
.main .main-right div p:nth-child(1){text-align:center; height:71px; line-height:71px; font-size:22px; color:#2b2b2b;}
.main .main-right div p:nth-child(3){line-height:28px; font-size:12px; color:#373737; margin-bottom:18px;}
.main .main-right div p:nth-child(4){line-height:28px; font-size:12px; color:#373737;}