.nav .container>ul>li:nth-child(5)>a{background:#e70012;}
.banner{width:100%; background:url(../images/qywh-banner.jpg) no-repeat center bottom; height:250px;}
.main{width: 1169px; margin: 0 auto; padding-top: 29px;}
.main .left{width: 141px; float: left;}
.main .left h2{ height: 42px; line-height: 42px; font-size: 18px; color: #2b2b2b; font-family: "微软雅黑";
 text-align:center;}
.main .left ul li a{text-align: center; display: block; height: 44px; line-height: 44px; background: #5f5f5f;
 font-size: 14px; color: #fff; margin-bottom: 2px; font-family: "微软雅黑";}
.main .left ul>li:nth-child(3)>a{ background: #002d71;}
.main .left ul li a:hover{background: #002d71; color: #fff;}
.main .left ul li ul{padding-left: 6px;}
.main .left ul li ul li:nth-child(4) a{background: #002d71;}
.main .left ul li ul li:nth-child(3) a{background: #5f5f5f;}
.main .left ul li ul li:nth-child(3) a:hover{background: #002d71;}
.main .left ul li ul li a{height: 34px; line-height: 34px; font-size: 12px;
 font-family: "\5FAE\8F6F\96C5\9ED1","\5B8B\4F53";}
.main .right{float: right; width: 999px; padding-bottom: 24px;}
.main .right .subnav{padding-left: 671px;}
.main .right .subnav p,.main .right .subnav a,.main .right .subnav span{float: left; height: 48px; line-height: 48px;
font-size:14px; color: #777777; font-family: "微软雅黑";}
.main .right .subnav span{margin: 0 5px;}
.main .right .subnav a:hover{text-decoration:underline;}
.main .right .bottom{border:2px solid #e2e2e2; padding-top: 7px; padding-bottom: 333px;}
.main .right .bottom h2{height: 68px; line-height: 68px; text-align: center; font-size: 24px; color: #2b2b2b;
font-family: "\5FAE\8F6F\96C5\9ED1","\5B8B\4F53"; font-weight: inherit;} 
.main .right .bottom img{height: 312px; width: 624px; margin-bottom: 19px; margin-left: 190px;}