@charset "utf-8";
*{margin:0;padding:0;}
body{font-size:14px;font-family:"微软雅黑";}
ul,li{list-style:none;}

#tab{position:relative;}
#tab .tabList{width:811px;background:url(../images/IMG_3669_03.png) repeat-x left top;height:52px;}

#tab .tabList img{display:none;}
#tab .tabList ul li{
	float:left;
	height:44px;
	line-height:44px;
	width:140px;
	text-align:center;
	margin-left:-1px;
	position:relative;
	cursor:pointer;
	padding-bottom:9px;
}

#tab .tabCon{
	position: absolute;
	left: 358px;
	top: 67px;
	width: 452px;
	height: 239px;
}
#tab .tabCon div{
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
	left: -137px;
	top: 148px;
}

#tab .tabCon div h2{
	height: 81px;
	background: #ebebeb;
	width: 459px;
	position: absolute;
	left: 133px;
	top: -149px;
	font-size: 14px;
	color: #e50f11;
	text-align: center;
	padding-top: 5px;
}
#tab .tabCon div h2 span{height:46px;display:block;line-height:23px;font-size:12px;text-align:left;padding-left:10px;padding-right:10px;color:#494844;font-weight:lighter;font-family:"宋体";margin-top:6px;}
#tab .tabCon div ul{
	position: absolute;
	left: 132px;
	top: -60px;
}
#tab .tabCon div ul li{width: 459px;height:31px;line-height:31px;}

#tab .tabCon div ul li a{float:left;font-size:12px;text-decoration:none;color:#494844;}
#tab .tabCon div ul li span{float:right;font-size:12px;color:#494844;}
#tab .tabCon  div ul li a:hover{text-decoration:underline;color:red;}
#tab .tabList li.cur{
	
	background:url(../images/IMG_3669_06.png) no-repeat left top;
	color:#fff;
}

#tab .tabCon div.cur{
	opacity:1;
	filter:alpha(opacity=100);
}
